---
// src/layouts/Layout.astro
import '@fontsource-variable/inter';
import { GithubOutlined } from '@ant-design/icons';
import Footer from '../components/Footer.astro';
import MobileNav from '../components/MobileNav';

interface Props {
  title: string;
}

const { title } = Astro.props;

const menuItems = [
  { path: '/', label: 'Validator' },
  { path: '/generator/', label: 'Generator' },
  { path: '/explanation/', label: 'About SSIN' },
  { path: '/library-docs/', label: 'Library Docs' },
  { path: '/cli-docs/', label: 'CLI Docs' },
];

const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - SSIN-LIB</title>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col">
    <header class="bg-white shadow-sm h-16 flex items-center w-full z-10">
      <nav class="w-full flex justify-center">
        <div class="w-full flex items-center justify-between max-w-2xl px-4">
          <div class="flex items-center flex-shrink-0">
            <span class="text-lg font-semibold text-blue-700">SSIN-LIB</span>
          </div>

          {/* Desktop Navigation */}
          <div class="hidden md:flex space-x-4">
            {
              menuItems.map((item) => (
                <a
                  href={item.path}
                  class:list={[
                    'px-3 py-2 rounded-md text-sm font-medium',
                    currentPath === item.path
                      ? 'bg-gray-100 text-gray-900'
                      : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900',
                  ]}
                >
                  {item.label}
                </a>
              ))
            }
          </div>

          {/* Mobile Navigation */}
          <div class="flex md:hidden items-center space-x-4">
            <MobileNav client:only="react" items={menuItems} currentPath={currentPath} />
          </div>
          {/* GitHub Link */}
          <a
            href="https://github.com/bn3t/ssin-lib"
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-600 hover:text-gray-900"
          >
            <GithubOutlined />
          </a>
        </div>
      </nav>
    </header>

    <main class="container mx-auto px-4 py-8 flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>
